<%- include('partials/header', {title:"Post Details"}) -%>












<section style="background-color: #d5d6de;">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Discussion Section</h4>
            <p class="fw-light mb-4 pb-2">See the latest comments below:</p>

            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://cdn-icons-png.flaticon.com/512/634/634741.png" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1"><%=post.title%></h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    <%= post.topic%>
                  </p>
                </div>
                <p class="mb-0">
                  <%=post.content%>
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://cdn-icons-png.flaticon.com/512/634/634741.png" alt="avatar" width="60"
                height="60" />
              <div>
                <%for(comment in comments){%>
                  <% if (comments[comment]['commentPostID'] === post['postID']){%>
                <h6 class="fw-bold mb-1"><%=comments[comment]['commentSubject']%></h6>
                <p class="mb-0">
                  <%=comments[comment]['commentContent']%>
                </p>
                <br><br>
                <%}%>
                <%}%>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
</section>










































<h2>Comment on this post:</h2>



<form action="/commentCreate" method="POST">

  <input type="hidden" id="commentPostID" name="commentPostID" value = "<%=post.postID%>">

  <label for="title">Comment subject: </label>
  <input type="text" id="commentSubject" name="commentSubject" value=""><br>

  <label for="content">Comment: </label>
  <input type="text" id="commentContent" name="commentContent" value=""><br>

  <br><br>
  <input type="submit" value="Create new comment!">

</form>

<%- include('partials/footer') -%>
