<%- include('partials/header', {title:"Post Details"}) -%>












<section style="background-color: #d5d6de;">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Discussion Section</h4>
            <p class="fw-light mb-4 pb-2">See the latest comments below:</p>

            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://cdn-icons-png.flaticon.com/512/634/634741.png" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1"><%=post.title%></h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    <%= post.topic%>
                  </p>
                </div>
                <p class="mb-0">
                  <%=post.content%>
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://cdn-icons-png.flaticon.com/512/634/634741.png" alt="avatar" width="60"
                height="60" />
              <div>
                <%for(comment in comments){%>
                  <% if (comments[comment]['commentPostID'] === post['postID']){%>
                <h6 class="fw-bold mb-1"><%=comments[comment]['commentSubject']%></h6>
                <p class="mb-0">
                  <%=comments[comment]['commentContent']%>
                </p>
                <br><br>
                <%}%>
                <%}%>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
</section>










































<h2>Comment on this post:</h2>


<form action="/commentCreate" method="POST">
  <div class="form-group">
    <label for="title">Comment Subject:</label>
    <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Post Content" name="postTitle" value="">
  </div>
  <div class="form-group">
    <label for="topic">Comment:</label>
    <input type="text" class="form-control" id="topic" placeholder="Message" name="postTopic" value="">
  </div>
  <button type="submit" class="btn btn-primary" value="Create new comment!">Post Comment</button>

</form>




<%- include('partials/footer') -%>
