<%- include('partials/header', {title:"Post Details"}) -%>

<h2>Title - <%=post.title%> </h2>
<h2>Topic - <%=post.topic%> </h2>
<p1>Content - <%=post.content%> </p1>


<%- include('partials/footer') -%>
