<%- include('partials/header', {title:"Post Details"}) -%>

<h2>Subject - <%=post.subject%> </h2>
<h2>Topic - <%=post.topic%> </h2>
<h2>Post - <%=post.post%> </h2>


<%- include('partials/footer') -%>
