<%- include('partials/header', {title:"Post Details"}) -%>

<h2>Title - <%=post.title%> </h2>
<h2>Topic - <%= post.topic%> </h2>
<p1>Content - <%=post.content%> </p1>

<table>
  <tr>
    <th>Comment Subject</th>
    <th>Comment Content</th>
  </tr>

  <%for(comment in comments){%>
    <% if (comments[comment]['postID'] === post.postID){%>
    <tr>
    <td> <%=comments[comment]['subject']%></td>
    <td> <%=comments[comment]['content']%></td>
    </tr>
    <%}%>
  <%}%>
</table>


<h2>Create a New Comment for the post <%=post.postTitle%></h2>


<form action="/commentCreate" method="POST">

  <input type="hidden" id="commentPostID" name="commentPostID" value=<%=post.postID%>>

  <label for="title">Comment subject: </label>
  <input type="text" id="commentSubject" name="commentSubject" value=""><br>

  <label for="content">Comment: </label>
  <input type="text" id="commentContent" name="commentContent" value=""><br>

  <br><br>
  <input type="submit" value="Create new comment!">

</form>

<%- include('partials/footer') -%>
