<%- include('partials/header', {title:"Opponent Details- P, R, S"}) -%>

<h2>Topic: <%=topic.topicName%></h2>


<table>
  <tr>
    <th>
      Post Title
    </th>
    <th>
      Post Content
    </th>

    <%for(let post in posts){%>
      <% if (post.topic == topic.topicName){%>
      <th>
        <a href="/post/<%= post.postID %>"><%=post.title%></a>
      </th>
      <th>
        <%=post.content%>
      </th>
      <%}%>
    <%}%>
</table>

<%- include('partials/footer') -%>
