<%- include('partials/header', {title:"topic details"}) -%>

<h2>Topic: <%=topic.topicName%></h2>


<table>
  <tr>
    <th>Post Title</th>
    <th>Post Content</th>
  </tr>
    <%for(post in posts){%>
      <% if (posts[post]['topic'] === topic.topicName){%>
      <tr>
      <td> <a href="/post/<%=posts[post]['postID'] %>"><%=posts[post]['title']%></a> </td>
      <td> <%=posts[post]['content']%></td>
      </tr>
      <%}%>
    <%}%>
</table>

<%- include('partials/footer') -%>
