<%- include('partials/header', {title:"topic details"}) -%>

<h2>Topic: <%=topic.topicName%></h2>


<table>
  <tr>
    <th>Post Title</th>
    <th>Post Content</th>
  </tr>
    <%for(post in data){%>
      <% if (post.hasOwnProperty('postID') && post.topic === topic.topicName){%>
      <th> <a href="/post/<%=post.postID %>"><%=post.title%></a> </th>
      <th> <%=post.content%></th>
      <%}%>
    <%}%>
</table>

<%- include('partials/footer') -%>
