<%- include('partials/header', {title:"Post Details"}) -%>

<h2>Top Topics Ranked</h2>
<table>
  <tr>
    <th>
      Topic
    </th>
    <th>
      number of posts
    </th>
  </tr>
  <%for(let i = 0; i<topics.length; i++){%>
  <th>
    <a href="/topic/<%=topics[i][0]%>"><%=topics[i][0]%></a>
  </th>
  <th>
    <%=topics[i][1]%>
  </th>
  <%}%>
</table>

  <%- include('partials/footer') -%>
