<%- include('partials/header', {title:"Hot Takes: Trending Topics"}) -%>

<h2>Top Topics Ranked</h2>
<table>
  <tr>
    <th>
      Topic
    </th>
    <th> Number of posts: </th>
  </tr>
  <%for(let i = 0; i<topics.length; i++){%>
    <td> <a href="/topic/<%=topics[i]%>"><%=topics[i]%></a> </td>
    <td> <%=topics[i].topicNumber%> </td>
  <%}%>
</table>

  <%- include('partials/footer') -%>
