<%- include('partials/header', {title:"Hot Takes: Trending Topics"}) -%>

<h2>Top Topics Ranked</h2>
<table>
  <tr>
    <th>
      Topic
    </th>
    <th> Number of posts: </th>
  </tr>
  <%for(let i = 0; i<sortedTopics.length; i++){%>
    <tr>
    <td> <a href="/topic/<%=topics[sortedTopics[i]]['topicName']%>"><%=topics[sortedTopics[i]]['topicName']%></a> </td>
    <td> <%=topics[sortedTopics[i]]['topicNumber']%> </td>
    </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
